PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

UPSERT_BATCH_SIZE=
NSE_URL=
DAILY_CANDLE_URL_HEAD=
DAILY_CANDLE_URL_TAIL=
DAILY_CANDLE_FALLBACK=
ACCESS_TOKEN=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=

JWT_SECRET=
JWT_EXPIRES_IN=

ADMIN_API_KEY=

ENABLED_URLS=
